@import '~antd/dist/antd.css';
#root {
    background: url("./static/background-coins.jpg")
}

.App {
    text-align: center;
    background-color: #376e6f;
    opacity: 0.9;
    padding-bottom: 40px;
}